@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5; }

h2 {
  font-size: 30px;
  font-family: serif;
  background-color: none; }

.decoHome {
  color: #796060;
  font-weight: bold;
  font-size: 18px; }

.caracteristica {
  color: #953f05;
  font-weight: bold;
  font-size: 18px; }

.logo {
  width: 8%;
  margin-left: -40px;
  margin-right: 50px;
  color: blanchedalmond; }

.nav-link {
  text-decoration: none;
  transition: color .15s ease-in-out;
  background-color: .15s;
  border-color: .15s; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: blanchedalmond; }

.navbar-light .navbar-nav .nav-link {
  color: blanchedalmond; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: blanchedalmond; }

.btn-outline-success {
  color: blanchedalmond;
  border-color: blanchedalmond; }

.navbar-light .navbar-brand {
  color: blanchedalmond; }

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.video {
  margin-top: 13%;
  object-fit: cover;
  width: 988px !important;
  height: 381px;
  margin-left: 20%; }

.titulos {
  padding: 20px;
  margin: 20px; }

.productos {
  margin: 20px;
  padding: 20px; }
  .productos .living {
    height: 450px;
    width: 450px; }
  .productos .cocina {
    height: 450px;
    width: 450px; }
  .productos .baño {
    height: 450px;
    width: 450px; }
  .productos .aromas {
    height: 450px;
    width: 450px; }

h3 {
  color: #276125;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline; }

.titulo {
  font-size: 30px;
  font-family: serif;
  position: relative;
  top: 50%;
  color: white; }

@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .video {
    margin-left: 0;
    margin-bottom: 40px; }
  .productos {
    margin: 0;
    padding: 0; }
  .productos .living {
    height: 350px;
    width: 280px; }
  .productos .aromas {
    height: 350px;
    width: 280px; }
  .productos .baño {
    height: 350px;
    width: 280px; }
  .productos .cocina {
    height: 350px;
    width: 280px;
    margin-bottom: 30px; }
  .titulos {
    padding: 0; } }

img:hover {
  transform: scale(1);
  object-fit: cover; }

h3 {
  color: #276125;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline; }

.nosotrosSeccion {
  margin-top: 13%; }

.footer {
  background-color: black; }
  .footer .navegacion ul a {
    text-decoration: none;
    color: blanchedalmond;
    margin-right: 7.5rem;
    font-size: 110%; }
  .footer .redes .redesSociales {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 110%; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 20px; }

.card-img-top {
  transform: scale(1);
  object-fit: cover;
  transition: transform .2s; }

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: #808285; }

.container-fluid {
  margin-top: 13%;
  margin-bottom: 8%; }

.productos__titulo {
  font-size: 24px;
  font-weight: 700; }

.preg {
  text-align: center; }

.container-fluid {
  margin-top: 13%;
  margin-bottom: 5%; }

.botonContacto {
  margin: 20px; }
