*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//PRIMERO VAN LAS VARIABLES
@import './variables/extend';
@import './variables/mixin';
@import './variables/maps';

@import './secciones/header';
@import './secciones/index';
@import './secciones/nosotros';
@import './secciones/footer';
@import './secciones/productos';









