
  .footer{
    background-color: darkgrey;
    
    .navegacion{ ul a {
    text-decoration: none;
    color: black;
    margin-right: 7.5rem;
    font-size: 110%;}}
    
    .redes{ .redesSociales {
    
    text-decoration: none;
    color: black;
    font-size: 110%;
}}

}