
  .footer{
    background-color: black;
  margin-bottom: -73px;
    .navegacion{ ul a {
    text-decoration: none;
    color: blanchedalmond;
    margin-right: 7.5rem;
    font-size: 110%;}}
    
    .redes{ .redesSociales {
    
    text-decoration: none;
    color: blanchedalmond;
    font-size: 110%;
}}

}

