.logo {
    width: 8%;
   margin-left: -40px;
    margin-right: 50px;
    color: blanchedalmond;
}

.header{
    font-family: 'M PLUS 1 Code', sans-serif;
font-family: 'Nunito', sans-serif;
}
.nav-link{
    text-decoration: none;
    transition: color .15s ease-in-out ; background-color: .15s; border-color: .15s;}

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: blanchedalmond;
    } 
    .navbar-light .navbar-nav .nav-link {
        color: blanchedalmond;
    }
         
    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        color: blanchedalmond;
    }

    .btn-outline-success {
        color: blanchedalmond;
        border-color: blanchedalmond;
    }

    .navbar-light .navbar-brand {
        color: blanchedalmond;
    }

    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    @media only screen and (min-width: 320px) and (max-width: 1200px) {
        .logo {
            width: 8%;
           margin-left: -18px;
            margin-right: 50px;
            
        }
    }

    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-collapse {
          justify-content: flex-end; }}