
     .video{
        margin-top: 13%;
        object-fit: cover;
        width: 988px !important;
        height: 381px;
        margin-left: 20%;
    } 
 .titulos{
     padding: 20px;
     margin: 20px;
 }

 .productos{
     margin: 20px;
     padding: 20px;
 
   
       .living{
        height: 450px;
        width: 450px;}
   
   
       .cocina {
            height: 450px;
            width: 450px;}
       

  

        .baño{
                height: 450px;
                width: 450px;
  }


        .aromas{
                    height: 450px;
                    width: 450px;
                
        }
  }
  p{
    @extend %estilosParrafo;
}

h2{
    @extend %estilosTitulo;
}



h3{
    @include fontStyle(rgb(39, 97, 37),36px , 900 )
}

.titulo{
    font-size: 30px;
    font-family: serif;
    position: relative; 
    top: 50%;
    color: white;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
    .video {
      margin-left: 0;
      margin-bottom: 40px;
    }
  
    .productos {
      margin: 0;
      padding: 0;
    }
  
    .productos .living {
      height: 350px;
      width: 280px;
    }
  
    .productos .aromas {
      height: 350px;
      width: 280px;
    }
  
    .productos .baño {
      height: 350px;
      width: 280px;
    }
  
    .productos .cocina {
      height: 350px;
      width: 280px;
      margin-bottom: 30px;
    }
  
    .titulos{
      padding: 0;
    }
  }

  


 img:hover{
    transform: scale(1.0); 
    object-fit: cover;
}